header.header
        a.logo(href="/")
            img(data-src="../img/logo.png")
            p katya <br>sugar sugar
        nav.header-menu
            ul.header-menu__list
                li.header-menu__item <a href='##'>Капкейки</a>
                li.header-menu__item <a href='##'>Стаканчики</a>
                li.header-menu__item <a href='##'>Зефир</a>
                li.header-menu__item <a href='#delivery'>Доставка</a>
        .header-socials
            .header-socials__item
                a(href="#")
                    +sprite("whatsapp", "img/sprites/sprite.svg#whatsapp")
        include ../../components/burger/burger