.cupcakes
    h2.cupcakes-title Капкейки
    p.cupcakes-descr
    .row
        .cupcakes-item
            .cupcakes-item__img.img__empty
                img(data-src="../img/cupcakes-1.jpg" data-alt="Кап")
            p 6 шт / 60 000 р
        .cupcakes-item
            .cupcakes-item__img.img__empty
                img(data-src="../img/cupcakes-1.jpg" data-alt="Кап")
            p 9 шт / 60 000 р
        .cupcakes-item
            .cupcakes-item__img.img__empty
                img(data-src="../img/cupcakes-1.jpg" data-alt="Кап")
            p 12 шт / 60 000 р