extends layouts/default

block variables
    - const title = 'katyasugarsugar | капкейки, зефир на заказ для частных и корпоративных клиентов'
    - const description = 'Привет! Меня зовут Катя и я - частный кондитер. Я делаю капкейки, зефир. Капкейки дизайнерские, капкейки с ягодами, принтами. Зефир праздничный с разным оформлением. Все сладости, которые вы получаете, я красиво упаковываю и доставляю в то время, когда Вам удобно'
    - const keywords = 'капкейки, зефир, cupcakes, zephyr'

block header
    include ../blocks/modules/header/header

block content
    .content__inner
        include ../blocks/modules/main/main
        include ../blocks/modules/sections/sections
        //- include ../blocks/modules/cupcakes/cupcakes
        //- include ../blocks/modules/cups/cups
        //- include ../blocks/modules/marshmallow/marshmallow
        include ../blocks/modules/delivery/delivery
        include ../blocks/modules/footer/footer

block scripts
    script(src='js/main.js')