main.main
    video.main-video(src='../img/cupcakes-bg.mov' loop autoplay muted)
    .main-info
        h1.main-title Капкейки, стаканчики и зефир
        p.main-descr В фирменном стиле и эффектной подаче