.tabs
    .tabs-panel
        .tabs-panel__item.tabs-panel__item--active Капкейки
        .tabs-panel__item Стаканчики
        .tabs-panel__item Зефир
    .tabs-content
        .tabs-content__item.tabs-content__item--active
            .cupcakes
                h2.cupcakes-title Капкейки
                p.cupcakes-descr
                .row
                    .cupcakes-item
                        .cupcakes-item__img.img__empty
                            img(data-src="../img/cupcakes-1.jpg" data-alt="Кап")
                        p 6 шт / 60 000 р
                    .cupcakes-item
                        .cupcakes-item__img.img__empty
                            img(data-src="../img/cupcakes-1.jpg" data-alt="Кап")
                        p 9 шт / 60 000 р
                    .cupcakes-item
                        .cupcakes-item__img.img__empty
                            img(data-src="../img/cupcakes-1.jpg" data-alt="Кап")
                        p 12 шт / 60 000 р
        .tabs-content__item
            h1 Текст
        .tabs-content__item
            ul
                li Текст
                li Текст
                li Текст
                li Текст