section.delivery#delivery
	h2 Доставка
	.delivery-items
		.delivery-items__item
			.delivery-items__heading 650
			p.delivery-items__descr рублей в Москве и в пределах МКАД
		.delivery-items__item
			.delivery-items__heading <sub>от</sub>850
			p.delivery-items__descr за пределами МКАД